<form class="fieldset">
  <h1>Conversor de Moedas</h1>
  <div class="mb-3">
    <label for="valor" class="form-label">VALOR</label>
    <input type="number" [(ngModel)]="valor" class="form-control" name="valor">
    <select [(ngModel)]="moedaOrigem" name="moedaOrigem">
        <option [ngValue]="'real'">REAL</option>
        <option [ngValue]="'dolar'">DÓLAR</option>
        <option [ngValue]="'euro'">EURO</option>
    </select>
  </div>
  <br>
  <div class="mb-3">
    <label for="moedaDestino" class="form-label">O VALOR SERÁ CONVERTIDO EM</label>
    <select [(ngModel)]="moedaDestino" name="moedaDestino">
        <option [ngValue]="'real'">REAL</option>
        <option [ngValue]="'dolar'">DÓLAR</option>
        <option [ngValue]="'euro'">EURO</option>
    </select>
  </div>
  <br>
  <div class="mb-3">
    <label for="valorConvertido" class="form-label">VALOR CONVERTIDO</label>
    <output [value]="valorConvertido"></output>
  </div>
  <button type="submit" class="btn-converter" (click)="converter()">CONVERTER</button>
</form>
