<div class="container text-center">
  <br>
  <h1>Conversor de Moedas</h1>
  <hr class="border border-primary">
  <br>
  <div class="input-group">
    <span class="input-group-text">VALOR</span>
    <input type="number" [(ngModel)]="valor" class="form-control" name="valor">
    <select [(ngModel)]="moedaOrigem" name="moedaOrigem">
        <option [ngValue]="'real'">REAL</option>
        <option [ngValue]="'dolar'">DÓLAR</option>
        <option [ngValue]="'euro'">EURO</option>
    </select>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-text">CÂMBIO</span>
    <select [(ngModel)]="moedaDestino" name="moedaDestino">
        <option [ngValue]="'real'">REAL</option>
        <option [ngValue]="'dolar'">DÓLAR</option>
        <option [ngValue]="'euro'">EURO</option>
    </select>
    <span class="input-group-text">VALOR ATUAL</span>
    <input type="number" [(ngModel)]="valorCambio" class="form-control" name="valor">
  </div>
  <br>
  <div class="mb-3">
  </div>
  <button type="submit" class="btn btn-primary" (click)="converter()">CONVERTER</button>
  <br>
  <br>
  <span class="input-group-text">RESULTADO DA CONVERSÃO</span>
  <output [value]="valorConvertido" class="form-control border-primary" ></output>
</div>
