<div class="container text-center">
  <h1>Conversor de Moedas</h1>
  <br>
  <div class="input-group">
    <span class="input-group-text">VALOR</span>
    <input type="number" [(ngModel)]="valor" class="form-control" name="valor">
    <select [(ngModel)]="moedaOrigem" name="moedaOrigem">
        <option [ngValue]="'real'">REAL</option>
        <option [ngValue]="'dolar'">DÓLAR</option>
        <option [ngValue]="'euro'">EURO</option>
    </select>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-text">CÂMBIO</span>
    <select [(ngModel)]="moedaDestino" name="moedaDestino">
        <option [ngValue]="'real'">REAL</option>
        <option [ngValue]="'dolar'">DÓLAR</option>
        <option [ngValue]="'euro'">EURO</option>
    </select>
    <span class="input-group-text">VALOR ATUAL</span>
    <input type="number" [(ngModel)]="valor" class="form-control" name="valor">
  </div>
  <br>
  <div class="mb-3">
    <label for="valorConvertido" class="form-label">VALOR CONVERTIDO</label>
    <output [value]="valorConvertido"></output>
  </div>
  <button type="submit" class="btn btn-success" (click)="converter()">CONVERTER</button>
</div>
